footer {
      background-color: var(--green-color);
      padding: 80px 0;
}

footer .nav-logo {
      font-size: 22px;
      letter-spacing: 2px;
      font-weight: bold;
      color: var(--text-color);  
} 
footer .nav-logo span {
      background-color: var(--second-color);
      border: 1px solid transparent;
      color: var(--bg-color);
      padding: 5px;
      text-transform: uppercase;
      border-radius: 5px;
} 

footer h3 {
      color: var(--second-color);
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing:3px;
}

footer p {
      font-size: 0.9rem;
      color: var(--text-color);
      font-weight: 500;
}

.border-top {
      border-top: 3px solid var(--container-color);
      padding:  10px 0;
}

footer .icon-social {
      font-size: 1.5rem;
      color: var(--text-color);
      font-weight: 300px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
}

footer .icon-social:hover {
      background-color: var(--second-color);
      border-radius: 50%;
      padding: 2px;
      color: var(--bg-color)
}



.d-flex {
      gap: 10px;
}



@media only screen and (max-width: 756px){
      .row-responsive {
            gap: 20px;
            padding: 20px;
      }

      .form-responsive {
            margin-bottom: 10px;
      }
}